---
import { FontAwesomeIcon } from '@fortawesome/react-fontawesome';
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import { faAngleDown, faAngleUp, faCartPlus } from '@fortawesome/free-solid-svg-icons';
import { fetchFromStrapi, renderImageUrl } from '@/lib/strapi';
import type { Product } from '@/interfaces/product';

const products = await fetchFromStrapi<Product<'Nome' | 'Descricao' | 'Foto' | 'Preco'>[]>({
  endpoint: 'produtos',
  wrappedByKey: 'data',
  query: {
    'populate': 'Foto'
  }
});

const moneyFormatter = new Intl.NumberFormat('pt-BR', {
  style: 'currency',
  currency: 'BRL',
});
---

<Layout title="Catálogo">
  <div class="min-h-dvh relative mb-12">
    <div class="relative">
      <div class="relative w-full h-24">
        <Image
          src="/home-bg.jpeg"
          alt="Hero"
          width={1125}
          height={750}
          class="w-full h-24 absolute object-cover"
        />
        <div class="w-full h-24 absolute bg-black bg-opacity-65"></div>
      </div>
      <Header className="py-0 h-24" />
    </div>
    <nav class="bg-gray-100 py-12 px-6 text-center">
      <h1 class="font-serif text-3xl uppercase tracking-bigger font-normal leading-relaxed text-tiny-black">
        Catálogo
      </h1>
    </nav>
    <main class="relative px-5">
      <h2 class="font-action uppercase text-sm text-small-gray text-center tracking-widest mb-10 mt-10">
        Explore Nossos Produtos
      </h2>
      <div
        class="
          w-full lg:w-3/4 xl:w-3/5
          ml-auto mr-auto
          flex flex-col gap-6
        "
      >
        {products.map(product => (
          <div class="w-full flex flex-col lg:grid lg:grid-cols-5 lg:gap-5 border-b border-b-gray-200 pb-5 last:border-b-0">
            <div class="relative mr-4 w-full lg:w-full lg:col-start-1 lg:col-end-3">
              <Image
                src={renderImageUrl(product.attributes.Foto.data.attributes.formats.medium.url)}
                alt={product.attributes.Nome}
                width={product.attributes.Foto.data.attributes.formats.medium.width}
                height={product.attributes.Foto.data.attributes.formats.medium.height}
                class="object-cover w-full max-h-52 h-52 mb-3 lg:mb-0 lg:absolute lg:w-full lg:h-full lg:max-h-full"
              />
            </div>
            <div class="w-fit block lg:col-start-3 lg:col-end-6">
              <a href="/conjunto-esmeralda" class="block self-start uppercase text-xs font-serif font-medium mb-3 hover:underline underline-offset-2 text-tiny-black">
                { product.attributes.Nome }
              </a>
              <p class="text-small-gray text-sm font-light leading-6 self-start mb-4 font-sans">
                { product.attributes.Descricao }
              </p>
              <p class="font-serif font-light text-black text-sm mb-5">
                { moneyFormatter.format(product.attributes.Preco) }
              </p>
              <div class="flex flex-row items-center gap-3">
                <div class="border-2 border-black inline-flex">
                  <input type="number" class="w-14 h-8 outline-none text-center" value="1" />
                  <div class="h-8 w-7 bg-black flex flex-col">
                    <button class="text-white text-xs text-center">
                      <FontAwesomeIcon icon={faAngleUp} />
                    </button>
                    <button class="text-white text-xs text-center">
                      <FontAwesomeIcon icon={faAngleDown} />
                    </button>
                  </div>
                </div>
                <a href="/carrinho" class="
                  font-serif-text inline-flex items-center border-2 border-black text-tiny-black
                  hover:text-white hover:bg-black h-9 px-6 text-sm uppercase transition-colors
                ">
                  <FontAwesomeIcon icon={faCartPlus} className="mr-1" /> adicionar
                </a>
              </div>
            </div>
          </div>
        ))}
      </div>
    </main>
  </div>
</Layout>