---
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import { fetchFromStrapi, renderImageUrl } from '@/lib/strapi';
import type { Product } from '@/interfaces/product';
import { ProductCatalogItem } from '@/components/ProductCatalogItem';

const products = await fetchFromStrapi<Product<'Nome' | 'slug' | 'Descricao' | 'Foto' | 'Preco'>[]>({
  endpoint: 'produtos',
  wrappedByKey: 'data',
  query: {
    'populate': 'Foto'
  }
});
---

<Layout title="Catálogo">
  <div class="min-h-dvh relative mb-12">
    <div class="relative">
      <div class="relative w-full h-24">
        <Image
          src="/home-bg.jpeg"
          alt="Hero"
          width={1125}
          height={750}
          class="w-full h-24 absolute object-cover"
        />
        <div class="w-full h-24 absolute bg-black bg-opacity-65"></div>
      </div>
      <Header className="py-0 h-24" />
    </div>
    <nav class="bg-gray-100 py-12 px-6 text-center">
      <h1 class="font-serif text-3xl uppercase tracking-bigger font-normal leading-relaxed text-tiny-black">
        Catálogo
      </h1>
    </nav>
    <main class="relative px-5">
      <h2 class="font-action uppercase text-sm text-small-gray text-center tracking-widest mb-10 mt-10">
        Explore Nossos Produtos
      </h2>
      <div
        class="
          w-full lg:w-3/4 xl:w-3/5
          ml-auto mr-auto
          flex flex-col gap-6
        "
      >
        {products.map(product => (
          <ProductCatalogItem
            product={product}
            client:load
          >
            <Image
              slot="image"
              src={renderImageUrl(product.attributes.Foto.data.attributes.formats.medium.url)}
              alt={product.attributes.Nome}
              width={product.attributes.Foto.data.attributes.formats.medium.width}
              height={product.attributes.Foto.data.attributes.formats.medium.height}
              class="object-cover w-full max-h-52 h-52 mb-3 lg:mb-0 lg:absolute lg:w-full lg:h-full lg:max-h-full"
            />
          </ProductCatalogItem>
        ))}
      </div>
    </main>
  </div>
</Layout>